{% extends 'base.html.twig' %}

{% block title %}SymphArt Edit Article{% endblock %}

{% block body %}

    <div>
        {{ form_start(form) }}</h4>
        {{ form_widget(form) }}</h4>
        {{ form_end(form) }}</h4>
    </div>

    <hr />

    <a href="/">Go back</a>


{% endblock %}